<h1>Créditos</h1>

<p>
Esta práctica ha sido desarrollada por Luis Martín de Vidales Palomero.<br>
y Alberto López Santiago.
</p>
<img src="/images/aj-luis.jpg" style="width:400px;" /><br>
<a href="https://github.com/Luismvp/quiz_2017">
github/Luismvp/quiz_2017
</a>
