<h1>Ayuda</h1>

<p>Quiz es un divertido juego social de preguntas y respuestas<br>
en el que podrás hacer preguntas a tus amigos, así como responder a las suyas!<br>
<br>
Se compone de un cuestionario con las preguntas que deberás responder,y ganarás<br>
en función de los aciertos que consigas.<br>
<br>
El objetivo del portal es que vaya aumentando el repertorio de preguntas por la<br>
colaboración de los jugadores, que iran enseñando preguntas al portal.<br>
<br>
¡Esperamos que disfrutes mucho del juego!
</p>

